<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="assets/img/hazem.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Hazem Bensalem</span></p>
                      <p><span class="title-s">Profile: </span> <span>Software Engineer</span></p>
                      <p><span class="title-s">Email: </span> <span>hazembensalem77@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>(+216) 21667670</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>Database Management </span> <span class="pull-right">60%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Backend Development </span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Frontend Development</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Operating Systems</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    Hello IT community , My name is Hazem Ben Salem .
                    I am a recently graduated software engineer from the 
                    Private Higher School of Engineering and Technologiy 
                    'ESPRIT'
                  </p>
                  <p class="lead">
                    I am sociable, autonomous, curious
                    and organized, very motivated to
                    develop my skills and always looking
                    for new challenges
                  </p>
                  <p class="lead">
                    My principal technical assets have been developed
                    through my professional experiences from internshps 
                    and also academic projects that had the most 
                    important impact on my process.
                  </p>
                  <p class="lead">
                    I have persisted my knowledge in software engineering
                    and web development precisely with my capacity of 
                    adapting with almost any web framework and 
                    tool , also my ability to manage software building
                    during its different stages.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->
