<!-- ======= Portfolio Section ======= -->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="assets/img/freelance.png" alt="" class="img-fluid" width="400px">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Freelance Marketplace</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Development</span> / <span class="w-date">15 Aout. 2023</span>
                    <span> Fullstack Web App</span>
                    <br>
                    <span>Tech : MEAN stack</span>
                    <br>
                    <a href="https://github.com/hazemax007/Freelance-marketplace.git">Click here(Github link)</a>
                    <br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="assets/img/resume1.png" alt="" class="img-fluid" width="400px">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Resume Parser</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Machine/Deep Learning Development</span> / <span class="w-date">08 June. 2023</span>
                    <br>
                    <span>Flask microservice</span>
                    <br>
                    <span>Tech : Python / NLP / Flask / Restful APIs</span>
                    <br>
                    <a href="https://github.com/hazemax007/resumeParserMicroservice.git">Click here(Github link)</a>
                    <br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="assets/img/fitness.jpg" alt="" class="img-fluid" width="340px">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Fitness Club</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Develoment</span> / <span class="w-date">23 Fev. 2023</span>
                    <span> Fullstack Web App</span>
                    <br>
                    <span>Tech : Spring Boot / Angular / MySQL</span>
                    <br>
                    <a href="https://github.com/hazemax007/FitnessClub.git">Click here(Github link)</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="assets/img/pneumologie.jpg" alt="" class="img-fluid" width="400px">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Pneumology Reports</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Develoment</span> / <span class="w-date">04 Oct. 2022</span>
                    <span> Spring Boot Microservice</span>
                    <br>
                    <span>Tech : Spring Boot / Jasper Report / Restful API</span>
                    <br>
                    <a href="https://github.com/hazemax007/RapportPneumIA.git">Click here(Github link)</a>
                    <br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="assets/img/signature1.png" alt="" class="img-fluid" width="400px">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Email signature builder</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Development</span> / <span class="w-date">24 Sep. 2021</span>
                    <span> Fullstack Web App</span>
                    <br>
                    <span>Tech : Laravel / VueJS / MongoDB</span>
                    <br>
                    <a href="https://github.com/hazemax007/maisonduweb.git">Click here(Github link)</a>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="assets/img/devopss.jpg" alt="" class="img-fluid" width="340px">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Web store automation</h2>
                  <div class="w-more">
                    <span class="w-ctegory">DevOps</span> / <span class="w-date">10 Nov. 2022</span>
                    <br>
                    <span> DevOps project</span>
                    <br>
                    <span>Tech : Vagrant / Jenkins / Docker / Git / 
                        Junit / Mockito / Sonarqube / Nexus / Prometheus / 
                        Grafana
                    </span>
                    <br>
                    <a href="https://github.com/hazemax007/Devops-ITLeaders-5SAE5.git">Click here(Github link)</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Portfolio Section -->
