<!-- ======= Portfolio Section ======= -->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Projects
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
              <div class="work-img">
                <img src="assets/img/freelance.png" alt="" class="img-fluid" width="400px">
              </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Freelance Marketplace</h2>
                  <div class="w-more">
                    <p style="font-size: medium;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-style: oblique">
                    Web Development
                  </p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;">Fullstack Web App</p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;">Tech : MEAN stack</p>
                    <p style="font-size: medium; 
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-style: italic; background-color: aqua;">
                      <a href="https://github.com/hazemax007/Freelance-marketplace.git">Click here to visit github repo</a>
                    </p>
                    <br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
              <div class="work-img">
                <img src="assets/img/resume1.png" alt="" class="img-fluid" width="400px">
              </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Resume Parser</h2>
                  <div class="w-more">
                    <p style="font-size: medium;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-style: oblique">Machine/Deep Learning Development</p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;">Flask microservice</p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;">Tech : Python / NLP / Flask / Restful APIs</p>
                    <p style="font-size: medium; 
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-style: italic; background-color: aqua;">
                      <a href="https://github.com/hazemax007/resumeParserMicroservice.git">Click here(Github link)</a>
                    </p>
                    <br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
              <div class="work-img">
                <img src="assets/img/fitness.jpg" alt="" class="img-fluid" width="340px">
              </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Fitness Club</h2>
                  <div class="w-more">
                    <p style="font-size: medium;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-style: oblique">Web Development</p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;">Fullstack Web App</p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;">Tech : Spring Boot / Angular / MySQL</p>
                    <p style="font-size: medium; 
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-style: italic; background-color: aqua;">
                    <a href="https://github.com/hazemax007/FitnessClub.git">Click here(Github link)</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
              <div class="work-img">
                <img src="assets/img/pneumologie.jpg" alt="" class="img-fluid" width="400px">
              </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Pneumology Reports</h2>
                  <div class="w-more">
                    <p style="font-size: medium;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-style: oblique">Web Development</p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;"> Spring Boot Microservice</p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;">Tech : Spring Boot / Jasper Report / Restful API</p>
                    <p style="font-size: medium; 
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-style: italic; background-color: aqua;">
                      <a href="https://github.com/hazemax007/RapportPneumIA.git">Click here(Github link)</a>
                    </p>
                    <br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
              <div class="work-img">
                <img src="assets/img/signature1.png" alt="" class="img-fluid" width="400px">
              </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Email signature builder</h2>
                  <div class="w-more">
                    <p style="font-size: medium;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-style: oblique">Web Development</p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;"> Fullstack Web App</p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;">Tech : Laravel / VueJS / MongoDB</p>
                    <p style="font-size: medium; 
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-style: italic; background-color: aqua;">
                      <a href="https://github.com/hazemax007/maisonduweb.git">Click here(Github link)</a>
                    </p>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
              <div class="work-img">
                <img src="assets/img/devopss.jpg" alt="" class="img-fluid" width="340px">
              </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Web store automation</h2>
                  <div class="w-more">
                    <p style="font-size: medium;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-style: oblique">DevOps</p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;">CI/CD pipeline</p>
                    <p style="font-size: medium;
                    font-family: 'Times New Roman', Times, serif;">Tech : Vagrant / Jenkins / Docker / Git / 
                        Junit / Mockito / Sonarqube / Nexus / Prometheus / 
                        Grafana
                    </p>
                    <p style="font-size: medium; 
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-style: italic; background-color: aqua;">
                      <a href="https://github.com/hazemax007/Devops-ITLeaders-5SAE5.git">Click here(Github link)</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Portfolio Section -->
