<!-- ======= Services Section ======= -->
<section id="services" class="services-mf pt-5 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Services
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Market research</h2>
              <p class="s-description text-center">
                Market research refers to the systematic process 
                of collecting, analyzing, and interpreting data about 
                a particular market, industry, or target audience. 
                Its purpose is to gain insights and understanding 
                of market trends, consumer behavior, and competitive 
                landscape to support business decision-making.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Defining specifications</h2>
              <p class="s-description text-center">
                Defining specifications for a software project 
                involves capturing and documenting the requirements, 
                functionalities, and constraints of the software system 
                to be developed. This process helps establish a clear 
                understanding among stakeholders and provides a roadmap 
                for the development team.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Conception and designing</h2>
              <p class="s-description text-center">
                Designing software refers to the process of creating 
                a plan or blueprint for a software application, 
                defining its structure, features, functionality, 
                and user interface. It involves making decisions 
                about how the software will work, what it will do, 
                and how it will be organized.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Implementing code</h2>
              <p class="s-description text-center">
                Implementing software code refers to the process 
                of writing and translating a software design or 
                specification into a functioning program or application. 
                It involves converting the logical and functional 
                requirements of the software into a programming language 
                that a computer can understand and execute.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-brightness-high"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Testing and automation</h2>
              <p class="s-description text-center">
                Testing and automating software refer to two important 
                practices in software development aimed at improving 
                the quality and efficiency of the development process.
                Testing involves the process of evaluating a software 
                system or its components. Automation in software development 
                refers to the process of using software tools or scripts to 
                automatically perform tasks or activities 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-calendar4-week"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Monitoring and fixing bugs</h2>
              <p class="s-description text-center">
                Monitoring and fixing bugs is an essential part of software 
                development and maintenance. Bugs, or software defects, 
                can cause malfunctions, errors, and unexpected behavior 
                in a program. It is also the major aspect in the longetivity
                and consistency of software product .
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->
